<form action="/nuevo-usuario" method="post">
    Nombre: <input type="text" name="nombre">
    Apellido: <input type="text" name="apellido">
    Usuario: <input type="text" name="usuario">
    Contraseña: <input type="text" name="pass">
    Empresa: <input type="text" name="empresa">
    <button type="submit">ENVIAR</button>
</form>
<script src="app.js"></script>